.item-list {
  display: flex;
}

.border {
  border: 1px solid black;
}

.ant-btn.btn-delete {
  display: flex;
  align-items: center;
}

.cart-box {
  display: flex;
}

.section-title {
  padding-top: 2rem;
}
